<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../../bower_components/express-web-components/express-config.html">
<link rel="import" href="../../../../bower_components/express-web-components/express-middleware.html">

<dom-module id="server-error">
    <template>
        <express-middleware callback="[[notFoundHandler]]"></express-middleware>
        <express-config callback="[[developmentCallback]]"></express-config>
        <express-middleware callback="[[productionHandler]]"></express-middleware>
    </template>

    <script src="error.component.ts"></script>
</dom-module>
