<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../../bower_components/express-web-components/express-app.html">
<link rel="import" href="../../../../bower_components/express-web-components/express-config.html">
<link rel="import" href="../../../../bower_components/express-web-components/express-middleware.html">
<link rel="import" href="../../../../bower_components/express-web-components/express-router.html">
<link rel="import" href="../pages/pages.component.html">
<link rel="import" href="../users/users.component.html">
<link rel="import" href="../error/error.component.html">

<dom-module id="server-app">
    <template>
        <express-app port="[[port]]" callback="[[listenCallback]]">
            <express-config callback="[[viewConfig]]"></express-config>

            <express-middleware callback="[[loggerMW]]"></express-middleware>
            <express-middleware callback="[[bodyParserJsonMW]]"></express-middleware>
            <express-middleware callback="[[bodyParserUrlMW]]"></express-middleware>
            <express-middleware callback="[[cookieParserMW]]"></express-middleware>

            <express-config callback="[[staticConfig]]"></express-config>

            <express-middleware callback="[[dbMW]]"></express-middleware>

            <express-router path="/">
                <server-pages></server-pages>
                <server-users></server-users>
            </express-router>

            <server-error></server-error>
        </express-app>
    </template>

    <script src="app.component.ts"></script>
</dom-module>
